<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555826442624-h6scvq30e3pc64ss4fkt98mb2qogr5m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555826442624-h6scvq30e3pc64ss4fkt98mb2qogr5m0</string>
	<key>API_KEY</key>
	<string>AIzaSyCh8Y1boKsDl4SgFv0LInfVYnEIFz5EwHs</string>
	<key>GCM_SENDER_ID</key>
	<string>555826442624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shufflechatapp.shufflechat</string>
	<key>PROJECT_ID</key>
	<string>shufflechatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>shufflechatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555826442624:ios:7358173a67b79708cbd165</string>
	<key>DATABASE_URL</key>
	<string>https://shufflechatapp.firebaseio.com</string>
</dict>
</plist>